body {
  margin: 0;
  background: #0b1320;
  font-family: Arial;
}

/* CONTAINER CENTRAL */
.container {
  max-width: 1200px;
  margin: auto;
}

/* TOPO */
.topo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #132041;
  padding: 10px 20px;
}

.img {
  width: 70px;
}

/* BOTÕES */
button {
  background: #e50914;
  border: none;
  color: white;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
}

.button2 {
  display: flex;
  gap: 10px;
}

/* MENU */
.butaosprincipais {
  margin: 20px 0;
  display: flex;
  gap: 15px;
}

/* CARROSSEL */
input {
  display: none;
}

.carousel {
  width: 100%;
  overflow: hidden;
}

.slides {
  display: flex;
  width: 300%;
  transition: 0.4s;
}

.slide {
  min-width: 100%;
  display: flex;
  gap: 20px;
  align-items: center;
}

.main {
  width: 80%;
  height: 350px;
  object-fit: cover;
  border-radius: 10px;
}

.side {
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.side img {
  width: 100%;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
  opacity: 0.6;
}

.side img:hover {
  opacity: 1;
}

/* MOVIMENTO */
#s1:checked ~ .slides { transform: translateX(0); }
#s2:checked ~ .slides { transform: translateX(-100%); }
#s3:checked ~ .slides { transform: translateX(-200%); }

/* BOLINHAS */
.dots {
  text-align: center;
  margin-top: 10px;
}

.dots label {
  width: 10px;
  height: 10px;
  background: gray;
  display: inline-block;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
}

#s1:checked ~ .dots label[for="s1"],
#s2:checked ~ .dots label[for="s2"],
#s3:checked ~ .dots label[for="s3"] {
  background: white;
}

/* SEÇÕES */
.destaques, .descubra {
  margin-top: 40px;
}

h2 {
  color: white;
}

.jogos {
  display: flex;
  gap: 20px;
  overflow-x: auto;
}

.jogos img {
  width: 120px;
  border-radius: 8px;
  transition: 0.3s;
}

.jogos img:hover {
  transform: scale(1.1);
}

/* RODAPÉ */
.rodape {
  background: #132041;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}

@media (max-width:1024px){
  .img{
    width:110px;
    height:110px;
  }
  .button{
    font-size:26px;
  }
  .button2{
    font-size:22px;
  }
  .butaosprincipais{
    gap:60px;
  }
}
/* ------------------- */
/* TABLET */
@media (max-width:768px){
  .topo{
    flex-direction:column;
    justify-content:center;
    text-align:center;
    padding:20px;
  }
  .button{
    justify-content:center;
    font-size:24px;
  }
  .button2{
    justify-content:center;
    margin-top:10px;
    font-size:20px;
  }
  .butaosprincipais{
    gap:40px;
  }
}

/* CELULAR */
@media (max-width:480px){
  .img{
    width:80px;
    height:80px;
  }
  .button{
    font-size:20px;
    flex-direction:column;
  }
  .button2{
    font-size:18px;
    gap:10px;
    flex-wrap:wrap;
  }
  .butaosprincipais{
    flex-direction:column;
    gap:20px;
  }
}