body {
  background: #0b1320;
  margin: 0;
}

input { display: none; }

.destaques h2 {
  color: white;
  margin-bottom: 20px;
  margin-left: 75px;
}

.descubra h2 {
  color: white;
  margin-bottom: 20px;
  margin-left: 75px;
}

.jogos {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  margin-left: 75px;
}

.jogos img {
  width: 120px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.jogos img:hover {
  transform: scale(1.1);
}

/* Rodapé */
.rodape {
  background: #132041;
  color: white;
  text-align: center;
  padding: 20px;
}

.carousel {
  width: 1000px;
  margin: 30px 75px;
}

.slides {
  display: flex;
  width: 700%;
  transition: 0.4s;
}

.slide {
  width: 100%;
  display: flex;
  gap: 20px;
}

.main {
  width: 75%;
  border-radius: 10px;
  }

.side {
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}

.side img {
  width: 100%;
  border-radius: 10px;
  opacity: 0.6;
}

.side img:hover {
  opacity: 1;
}

/* Movimento */
#s1:checked ~ .slides { transform: translateX(0); }
#s2:checked ~ .slides { transform: translateX(-100%); }
#s3:checked ~ .slides { transform: translateX(-200%); }
#s4:checked ~ .slides { transform: translateX(-300%); }
#s5:checked ~ .slides { transform: translateX(-400%); }
#s6:checked ~ .slides { transform: translateX(-500%); }
#s7:checked ~ .slides { transform: translateX(-600%); }

/* Bolinhas */
.dots { margin-left: 200px ; margin-top: 10px; }

.dots label {
  width: 10px;
  height: 10px;
  background: gray;
  display: inline-block;
  border-radius: 50%;
  cursor: pointer;
}

#s1:checked ~ .dots label[for="s1"],
#s2:checked ~ .dots label[for="s2"],
#s3:checked ~ .dots label[for="s3"],
#s4:checked ~ .dots label[for="s4"],
#s5:checked ~ .dots label[for="s5"],
#s6:checked ~ .dots label[for="s6"],
#s7:checked ~ .dots label[for="s7"] {
  background: white;
}

.img{
  width: 90px;
  height: 85px;
  background: transparent;
}

.topo{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;  
    justify-content: space-between;  
    margin-bottom: 20px;
    background-color: #132041;
    height: 85px;
}

.button{
    display: flex;
    justify-content: flex-start;
    margin-left: 10px;
    height: 20px;
    font-size: 10px;
}

.button2{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    width: 90%;
    height: 20px;
    background-color: #132041;
    margin-right: 50px;
    font-size: 20px;
}

.butaosprincipais{
    display: flex;
    justify-content: flex-start;
    align-content: center;
    margin-left: 75px;
    margin-top: 20px;
    gap: 15px;

}

.apresentacao {
  justify-content: flex-start;
  width: 100px;
  height: 100px;
  margin-left: 60px;
  padding: 10px;
}

.apresentacao2 {
  justify-content: flex-start;
  width: 100px;
  height: 100px;
  margin-left: 60px;
  padding: 10px;
}

@media (max-width:1024px){
  .img{
    width:110px;
    height:110px;
  }
  .button{
    font-size:26px;
  }
  .button2{
    font-size:22px;
  }
  .butaosprincipais{
    gap:60px;
  }
}
/* ------------------- */
/* TABLET */
@media (max-width:768px){
  .topo{
    flex-direction:column;
    justify-content:center;
    text-align:center;
    padding:20px;
  }
  .button{
    justify-content:center;
    font-size:24px;
  }
  .button2{
    justify-content:center;
    margin-top:10px;
    font-size:20px;
  }
  .butaosprincipais{
    gap:40px;
  }
}

/* CELULAR */
@media (max-width:480px){
  .img{
    width:80px;
    height:80px;
  }
  .button{
    font-size:20px;
    flex-direction:column;
  }
  .button2{
    font-size:18px;
    gap:10px;
    flex-wrap:wrap;
  }
  .butaosprincipais{
    flex-direction:column;
    gap:20px;
  }
}