img {
  max-width: 100%;
  display: block;
}

body {
  margin: 0;
  background: #0b1320;
  font-family: Arial;
}


.container {
  max-width: 1200px;
  margin: auto;
}


.topo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #132041;
  padding: 10px 20px;
}

.logo {
  width: 70px;
  height: auto;
}

.topo-direita {
  display: flex;
  gap: 10px;
}


button {
  background: #e50914;
  border: none;
  color: white;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
}


.menu {
  display: flex;
  gap: 15px;
  margin: 20px 0;
}


input {
  display: none;
}

.carousel {
  width: 80%;
  height: 350px;
  object-fit: cover;
}

.slides {
  display: flex;
  width: 300%;
  transition: 0.4s;
}

.slide {
  min-width: 100%; /* 🔥 CORREÇÃO PRINCIPAL */
  display: flex;
  gap: 20px;
  align-items: center;
}

.main {
  width: 80%;
  height: 350px;
  object-fit: cover;
  border-radius: 10px;
}

.side {
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.side img {
  width: 100%;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
  opacity: 0.6;
}

.side img:hover {
  opacity: 1;
}


#s1:checked ~ .slides { transform: translateX(0); }
#s2:checked ~ .slides { transform: translateX(-100%); }
#s3:checked ~ .slides { transform: translateX(-200%); }


.dots {
  text-align: center;
  margin-top: 10px;
}

.dots label {
  width: 10px;
  height: 10px;
  background: gray;
  display: inline-block;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
}

#s1:checked ~ .dots label[for="s1"],
#s2:checked ~ .dots label[for="s2"],
#s3:checked ~ .dots label[for="s3"] {
  background: white;
}


.secao {
  margin-top: 40px;
}

h2 {
  color: white;
}

.jogos {
  display: flex;
  gap: 20px;
  overflow-x: auto;
}

.jogos img {
  width: 120px;
  border-radius: 8px;
  transition: 0.3s;
}

.jogos img:hover {
  transform: scale(1.1);
}

.rodape {
  background: #132041;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}
