body {
  background: #ffffff;
  margin: 0;
}

input { display: none; }

.destaques h2 {
  color: white;
  margin-bottom: 20px;
  margin-left: 75px;
}

.jogos {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  margin-left: 75px;
}

.jogos img {
  width: 120px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.jogos img:hover {
  transform: scale(1.1);
}

/* Rodapé */
.rodape {
  background: #132041;
  color: white;
  text-align: center;
  padding: 20px;
}

.carousel {
  width: 1000px;
  margin: 30px 75px;
  overflow: hidden;
}

.slides {
  display: flex;
  width: 500%;
  transition: 0.4s;
}

.slide {
  width: 100%;
  display: flex;
  gap: 20px;
}

.main {
  width: 75%;
  border-radius: 10px;
  }

.side {
  width: 20%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.side img {
  width: 100%;
  border-radius: 10px;
  opacity: 0.6;
}

.side img:hover {
  opacity: 1;
}

.img{
  width: 90px;
  height: 85px;
  background: transparent;
}

.topo{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;  
    justify-content: space-between;  
    margin-bottom: 20px;
    background-color: #132041;
    height: 85px;
}

.button{
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
    height: 20px;
    font-size: 20px;
    background-color: #A8030C;
    color:#ffffff

}

.button2{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    width: 90%;
    height: 20px;
    background-color: #132041;
    margin-right: 50px;
    font-size: 20px;
}

.butaosprincipais{
    display: flex;
    justify-content: flex-start;
    align-content: center;
    margin-left: 75px;
    margin-top: 20px;
    gap: 15px;

}

.apresentacao {
  justify-content: flex-start;
  width: 100px;
  height: 100px;
  margin-left: 60px;
  padding: 10px;
}

.apresentacao2 {
  justify-content: flex-start;
  width: 100px;
  height: 100px;
  margin-left: 60px;
  padding: 10px;
}