body {
  background: #0A0F1C;
  margin: 0;
  font-family: sans-serif;
}

input { display: none; }

.img{
  width: 100px;
  height: 95px;
  background: transparent;
  margin-left: 25px;
  border-radius: 6px;
  padding-right: 30px;
}

.topo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(19, 32, 65, 0.95);
  backdrop-filter: blur(10px);
  width: 100%;
  gap: 20px;
}

.logo {
  width: 100px;
  height: auto;
  border-radius: 12px;
  margin-top: 5px;
  margin-left: 15px;
}

.topo-esquerda,
.topo-direita {
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 0 20px;
}

.btn-nav,
.btn-login {
  border: none;
  color: white;
  padding: 12px 24px;
  border-radius: 25px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
  background: rgba(255, 255, 255, 0.05);
  gap: 30px;
}

.btn-nav.active,
.btn-login:hover {
  background: #e50914;
} 

.button{
    display: flex;
    justify-content: flex-start;
    padding: 6px 15px;  
    margin-left: 25px;
    font-size: 15px;
    background-color: #A8030C;
    color:#ffffff;
    border: none;
    border-radius: 3px;
    width: 70px;
    height: 28px;
}

.button2{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    width: 90%;
    height: 20px;
    background-color: #132041;
    margin-right: 50px;
    font-size: 20px;
}

.entrar {
  background-color: #A8030C;
  color:#ffffff;
  border: none;
  border-radius: 3px;
  width: 70px;
  height: 28px;

}

.suporte {
  background-color: #A8030C;
  color:#ffffff;
  border: none;
  border-radius: 3px;
  width: 70px;
  height: 28px;

}

.textao {
  color: #ffffff;
  margin-top: 50px;
  margin-left: 180px;
}

.linha-topo {
  display: flex;
  justify-content: space-between; /* empurra pro lado */
  align-items: center;
}

.textos {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
}

.texto1 {
  margin: 0;
  font-size: 22px;
}

.texto2 {
  margin: 0;
  font-size: 17px;
}

.precoo {
  font-size: 17px;
  margin-right: 400px;
  margin-top: 40px;
}

.jogos {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  color:#ffffff;
  background-color: #001038;  
  padding: 15px;
  gap: 0px;
  width: 1300px;
  border-radius: 15px;
  margin-left: 230px;
  font-size: 18px;
  margin-bottom: 20px;
}

.num {
  padding-left: 15px;
}

.preco {
  display: flex;
  margin-left: auto;
  margin-right: 25px;
}

.tudoai{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 130px;
    width: 95.8% ; 
    height: 120px;

    background: linear-gradient(to bottom,#0f2449,#020817);
    padding: 20px 40px;
    color: white;
    margin-top: 200px;
}

.primeira_cadastre{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.primeira{
    font-size: 28px;
    font-weight: bold;
    font-style: italic;
}

.cad{
    background-color: #A8030C;
    color: white;
    border: none;
    padding: 4px 25px;
    border-radius: 25px;
    font-size: 24px;
    cursor: pointer;
  font-style: italic;
  font-style: bold;
}

.cad:hover{
  background-color: #d83b43;
}

.texto{
    max-width: 350px;
    font-size: 18px;
    color: #cfd6e6;
}

