body {
  margin: 0;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: center;       

  background-color: #0b0f1a;
  font-family: sans-serif;
}

h1 {
  color: white;
  margin-bottom: 25px;
  text-align: center;
  font-size: 26px;
  margin-right: 28px;
}

.h1box {
  border-radius: 10px;
  width: 440px;
  height: 490px;
  padding-right: 2px;
  padding-left: 50px;
  padding-top: 10px;
  background: linear-gradient(to top,#132041,#1b3c91);
  margin-top: 160px;
}

.tudoai{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 130px;
    width: 95.8% ; 
    height: 120px;

    background: linear-gradient(to bottom,#0f2449,#020817);
    padding: 20px 40px;
    color: white;
    margin-top: 120px;
}

.primeira_cadastre{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.primeira{
    font-size: 28px;
    font-weight: bold;
    font-style: italic;
}

.cad{
    background-color: #A8030C;
    color: white;
    border: none;
    padding: 4px 25px;
    border-radius: 25px;
    font-size: 24px;
    cursor: pointer;
  font-style: italic;
  font-style: bold;
}

.cad:hover{
  background-color: #d83b43;
}

.texto{
    max-width: 350px;
    font-size: 18px;
    color: #cfd6e6;
}

.iniciar_sessao {
  color: #ffffff;
  background-color: #A8030C;
  padding: 14px;
  font-size: 20px;
  font-style: italic;
  font-style: bold;
  border-radius: 15px;
}

.iniciar_sessao:hover {
  background-color: #d83b43;
}

.problemas_iniciar {
  display: flex;
  text-align: center;
  color: black;
  margin-left: 37px;
  margin-top: 10px;
}

.problemas_iniciar:hover {
  color: rgb(63, 63, 63);
}

.conteudo {
  width: 320px;
  display: flex;
  flex-direction: column;
  gap: 17px;
  background-color: #8fa2cf;
  padding: 35px;
  color: rgb(0, 0, 0);
  border-radius: 10px;
  font-size: 18px;
}

.lembrar {
  display: flex;
  align-items: flex-start;
  margin-right: 210px;
  white-space: nowrap;
  gap: 8px;
}

input {
  width: 100%;
  padding: 6px;
  border-radius: 6px;
  border: none;
}

button {
  padding: 8px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}