* {
  font-family: 'sans-serif',sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0b1320;
}

input {
  display: none;
}

.destaques h2 {
  color: white;
  margin-bottom: 20px;
  margin-left: 75px;
}

.jogos {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  margin-left: 75px;
}

.jogos img {
  width: 120px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.jogos img:hover {
  transform: scale(1.1);
}

.carousel {
  width: 1000px;
  margin: 30px 75px;
  overflow: hidden;
}

.slides {
  display: flex;
  width: 500%;
  transition: 0.4s;
}

.slide {
  width: 100%;
  display: flex;
  gap: 20px;
}

.main {
  width: 75%;
  border-radius: 10px;
}

.side {
  width: 20%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.side img {
  width: 100%;
  border-radius: 10px;
  opacity: 0.6;
}

.side img:hover {
  opacity: 1;
}

/* Movimento */
#s1:checked~.slides {
  transform: translateX(0);
}

#s2:checked~.slides {
  transform: translateX(-100%);
}

#s3:checked~.slides {
  transform: translateX(-200%);
}

#s4:checked~.slides {
  transform: translateX(-300%);
}

#s5:checked~.slides {
  transform: translateX(-400%);
}

#s6:checked~.slides {
  transform: translateX(-500%);
}

#s7:checked~.slides {
  transform: translateX(-600%);
}

/* Bolinhas */
.dots {
  margin-left: 200px;
  margin-top: 10px;
}

.dots label {
  width: 10px;
  height: 10px;
  background: gray;
  display: inline-block;
  border-radius: 50%;
  cursor: pointer;
}

#s1:checked~.dots label[for="s1"],
#s2:checked~.dots label[for="s2"],
#s3:checked~.dots label[for="s3"] #s4:checked~.dots label[for="s4"] #s5:checked~.dots label[for="s5"] #s6:checked~.dots label[for="s6"] #s7:checked~.dots label[for="s7"] {
  background: white;
}

.img {
  width: 90px;
  height: 85px;
  background: transparent;
}

/* .button {
  display: flex;
  justify-content: flex-start;
  margin-left: 10px;
  height: 20px;
  font-size: 250px;
  color: aliceblue;
  border: none;
  background: transparent;
  cursor: pointer;
} */

.btn-default {
  display: flex;
  gap: 15px;
  margin: 20px 75px;
}

#pesquisarLoja {
  background: transparent; 
  border: 2px solid #A8030C; 
  border-radius: 25px; 
  padding: 12px 24px;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* .menu-busca { 
  display: flex; 
  gap: 20px; 
  padding: 25px 5%; 
  background: rgba(19, 32, 65, 0.8);
} */

.busca-input {
  flex: 1;
  max-width: 300px;
  color: aliceblue;
  background: rgba(42, 58, 90, 0.8);
  border-radius: 25px;
  padding: 12px 20px;
  display: flex;
  align-items: center;
  border: 2px solid aliceblue;
  transition: border 0.3s ease;
}
.busca-input:hover { 
  border-color: #e50914; 
}
.busca-input input { 
  background: transparent; 
  border: none; 
  color: white; 
  padding-left: 15px; 
  outline: none; 
  font-size: 16px;
  width: 100%;
}
.btn-dropdown { 
  background: transparent; 
  border: 2px solid #A8030C; 
  border-radius: 25px; 
  padding: 12px 24px;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}
.btn-dropdown:hover { 
  background: #e50914; 
  border-color: #e50914;
}


.apresentacao {
  justify-content: flex-start;
  width: 100px;
  height: 100px;
  margin-left: 60px;
  padding: 10px;
}

.apresentacao2 {
  justify-content: flex-start;
  width: 100px;
  height: 100px;
  margin-left: 60px;
  padding: 10px;
}

.rodape {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 130px;
  width: 100%;
  height: 10px;
  background: linear-gradient(to bottom, #0f2449, #020817);
  padding: 40px 40px;
  color: white;
  margin-top: 260px;
}

.botao_rodape {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

