* {
  font-family: Arial;
  background-color: #f2f2f2;
  color: #333;
}

.img{
  width: 100px;
  height: auto;
  margin-left: 10px;
}

.topo{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;  
    justify-content: space-between;  
    margin-bottom: 30px;
    background-color: #4d4b4b;
    height: 120px;
}

.chikungunya{
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin-left: 50px;
    font-size: 30px;
}

.chikungunya2{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    width: 100%;
    height: 40px;
    background-color: #4d4b4b;
    margin-right: 50px;
    font-size: 30px;
}

.butaosprincipais{
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 100px;
}