body{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f2f4f7;
}

main{
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
}

.tudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    background: #132041;
    padding: 28px;
    border-radius: 14px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.12);
    

}

h1{
  color: #EAEAEA;
  text-align:center;
  font-size:22px;
  font-weight:700;
  margin-bottom:14px;
}

label{
  display:block;
  font-size:18px;
  margin:6px 0px 0px;
}

input{
  width:100%;
  height:14px;    
  outline:none;
  border: none;       
  background:#EAEAEA;
  border-radius:999px;
  padding:10px 12px;           
}
.cards{
  background:#C3D4FF;          
  border-radius:6px;
  padding:14px 14px 10px;
  margin:12px 0;
}

.btn {
  background-color: #A8030C;
  border-radius: 15px;
  box-shadow: black;
  color: #EAEAEA;
}

