body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #0f1b36;
}

main{
    width: 100%;
    display: flex;
    justify-content: center;
}

.tudo {
    display: flex;
    flex-direction: column;
    width: 550px;
    background: #132041;
    padding: 30px;
    border-radius: 14px;
}

h1{
  text-align:center;
  font-size:22px;
  font-weight:700;
  margin-bottom:20px;
  color: #ffffff;
}

.cards{
  background:#C3D4FF;
  border-radius:10px;
  padding:25px;
  margin-bottom:20px;
  
}

label{
  display:block;
  font-size:16px;
  margin-bottom:6px;
  color:#1c1c1c;
}

input{
  width:100%;
  height:40px;
  background:#e9e9e9;
  border: none;
  outline: none;
  border-radius:20px;
  padding:0 15px;
  margin-bottom:15px;
}

/* checkbox */
.check{
  display:flex;
  align-items:center;
  gap:10px;
  margin-bottom:10px;
}

.check input{
  width:auto;
  height:auto;
}

/* botões */
.botao {
  display: flex;
  justify-content: space-around;
  margin-top:10px;
}

